{% extends "layout.html" %}
{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Selling Price</th>
        <th scope="col">Listing Price</th>
        <th scope="col">Living Space</th>
        <th scope="col">Number of Rooms</th>
        <th scope="col">Number of Beds</th>
        <th scope="col">Number of Baths</th>
        <th scope="col">Age</th>
        <th scope="col">Acres</th>
        <th scope="col">Taxes</th>

    </tr>
    </thead>
    <tbody>
    {% for home in homes %}
    <tr>
        <td><a href="view/{{home.id}}">${{ home.Sell }}k</a></td>
        <td>${{ home.List }}k</td>
        <td>{{ home.Living }} sq ft</td>
        <td>{{ home.Rooms }}</td>
        <td>{{ home.Beds }}</td>
        <td>{{ home.Baths }}</td>
        <td>{{ home.Age }} years</td>
        <td>{{ home.Acres }} acres</td>
        <td>${{ home.Taxes }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
