{% extends "layout.html" %}
{% block content %}

<div class="card" class="m-5 p-2">
    <h5 class="card-title">Selling Price: ${{ home.Sell}}k --- Listing Price: ${{ home.List }}k</h5>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">Living Space:{{ home.Living }}</li>
        <li class="list-group-item">Number of Rooms:{{ home.Rooms }}</li>
        <li class="list-group-item">Number of Beds:{{ home.Beds }}</li>
        <li class="list-group-item">Number of Baths:{{ home.Baths }}</li>
        <li class="list-group-item">Age:{{ home.Age }}</li>
    </ul>
    <div class="card-body">
        <a href="/edit/{{home.id}}" class="card-link btn btn-primary">edit</a>
    </div>
</div>
<form action="/delete/{{home.id}}" method="post"><button type="submit" class="btn btn-danger">Save</button></form>


{% endblock %}